@page "/runners"
@using ProjectRunners.Common.Enums

<Table TItem="Runner" DataSource="@RunnerList" >
    <Column @bind-Field="@context.Id" Title="Id"></Column>
    <Column @bind-Field="@context.Name" Title="Name"></Column>
    <Column Title="State" Field="@context.State"></Column>
    @* <Column @bind-Field="@context.State" Title="State"></Column> *@
</Table>
